# functions are a block of code only run when called

## advantages of fucntions: 
    1.reuse
    2.flexibility
## different types of functions:
    1. built in functions: 
        print(),type()
    2. user defined function
    3. anonymous function
    4. recursive function

In [16]:
#syntax: 

#def function_name(parameters1,parameter2,....):
    #body of the function ( the use of the function is defined here)
    #print()/return

#function_name(arg1,arg2,.....)

In [28]:
def sum_1(num1,num2):
    return(num1 + num2)

In [6]:
sum_1(30,20)

50

# when to use print and when to use return

In [22]:
# print() is used to display the output of a function as seen above 
# return is used when we use the output of a function for furthur use as seen below

In [36]:
def sub_1(num1,num2):
    return(num1 - num2)

In [38]:
def master(num1,num2):
    ans1 = sum_1(num1,num2)
    ans2 = sub_1(num1,num2)
    print(ans1,ans2)

In [40]:
master(30,20)

50 10

In [42]:
#variable length arugument: (for n number of arguments)

In [52]:
def variable_length_func(*para_1):
    sum = 0
    for i in para_1:
        sum += i
    print(sum)

In [54]:
variable_length_func(20,30,50)

100

In [58]:
variable_length_func(10,40,40,10)

100

# Anonymous Function:

In [61]:
#syntax:

#var = lambda arg1,arg2:expression
#var(10,20)

In [65]:
#cube of a number:

cube = lambda n:n**3
cube(5)

125

In [77]:
#wtih if else statements : 
#var = lambda arg:(if true what to print) if (condition) else (if false what to print)
var_1 =lambda x:"even" if x%2==0 else "not an even number"

In [79]:
var_1(41)

'not an even number'

# Recursive Function:

In [86]:
# the function that calls itself in the definitoion of the function

In [ ]:
# syntax: 
#def function_name(parameter,....):
    .
    .
    .
    .
    .
    function_name(arg1,arg2.....)

#call:
function_name(arg_1,arg_2)

In [88]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

In [90]:
factorial(5)

120