In [43]:
if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score])
        
    scores = []
    for student in students:
        scores.append(student[1])

    unique_scores = list(set(scores))
    unique_scores.sort()
    second_lowest = unique_scores[1]

    second_lowest_list = []
    for student in students:
        if student[1] == unique_scores[1]:
            second_lowest_list.append(student[0])

    second_lowest_list.sort()
    for name in second_lowest_list:
        print(name)

 3
 gia
 45
 paige
 50
 elena
 3

gia

In [29]:
if __name__ == '__main__':
    # Step 1: Store names and scores
    students = []
    n = int(input("Enter number of students: "))
    
    for _ in range(n):
        name = input("Enter name: ")
        score = float(input("Enter score: "))
        students.append([name, score])

    # Step 2: Find the second lowest score
    scores = []
    for student in students:
        scores.append(student[1])

    unique_scores = list(set(scores))
    unique_scores.sort()
    second_lowest_score = unique_scores[1]

    # Step 3: Find students with the second lowest score
    second_lowest_students = []
    for student in students:
        if student[1] == second_lowest_score:
            second_lowest_students.append(student[0])

    # Step 4: Sort names alphabetically and print
    second_lowest_students.sort()
    for name in second_lowest_students:
        print(name)

Enter number of students:  3
Enter name:  rahul
Enter score:  55
Enter name:  jim
Enter score:  323
Enter name:  tia
Enter score:  24

rahul

In [45]:
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students = []
        students.append([name,students])
        
    scores = []
    for student in students:
        scores.append(student[1])
        
    unique_scores = list(set(scores))
    unique_scores.sort()
    sec_lowest_score = unique_scores[1]
    
    sec_lowest_list = []
    for student in students:
        if student[1] == sec_lowest_score[1]:
            sec_lowest_list.append(student[0])
    
    sec_lowest_list.sort()
    for name in sec_lowest_list:
        print(name)

 3
 harry
 45
 etsg
 34534
 rtsg
 3463

TypeError: unhashable type: 'list'