In [5]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    avg_score = sum(student_marks[query_name]) / len(student_marks[query_name])
    print(f'{avg_score:.2f}')

 3
 Krishna 67 68 69
 Arjun 70 98 63
 Malika 52 56 60
 Malika

56.00

In [7]:
from collections import defaultdict
d = defaultdict(list)
d['python'].append("awesome")
d['somethig-else'].append("not relevant")
d['python'].append("lol")

In [9]:
print(d)

defaultdict(<class 'list'>, {'python': ['awesome', 'lol'], 'somethig-else': ['not relevant']})

In [13]:
for i in d.items():
    print (i)

('python', ['awesome', 'lol'])
('somethig-else', ['not relevant'])

In [27]:
from collections import namedtuple
car = namedtuple('car','price milage color Class')
xyz = car(price = 10000,milage=1332,color="blue",Class="y")
print (xyz)
xyz.Class

car(price=10000, milage=1332, color='blue', Class='y')

'y'

In [9]:
from collections import namedtuple

n = int(input())
coloumns = input().split()
student = namedtuple('student', coloumns)
print(coloumns)

total_marks = 0

for _ in range(n):
    data = input().split()
    Student = student(*data)
    total_marks += int(Student.MARKS)

average_marks = total_marks / n
print(f"{average_marks:.2f}")

 2
 MARKS NAME ID CLASS

['MARKS', 'NAME', 'ID', 'CLASS']

 34 dfs 44 2
 234 sd 34 2

134.00